nav {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 500px;
    list-style: none;
}
.titlercontainer {
    
}

.main-navigation {

}

.maincontainer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: bisque;
}
.order-now-container {


}

.best-selling-container {

}

.article-container{

}

footer {
    background-color: beige;
}

footer nav ul {
}

#footer-bottom {
    display: flexbox;
    flex-direction: column;
}