nav {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}

.ulcontainer {
    width: 600px;
}

.titlercontainer {
    display: grid;
    place-items: center;
    width: 400px;
}
.btnscontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100px;
}
.searchcontainer {  
    width: 250px;

}
.btnavsearch {
    width: 50px;
    height: 50px;
    background-color: #4b1d1e;
    background-image: url(./image/nav-images/magnifying\ glass.png);
    background-size: cover;
    color: transparent;
    border: none;
    cursor: pointer;
}
.btnavcontactstyle {
    background-color: transparent;
    border: none;
}

.btnavshoppingstyle {
    background-color: transparent;
    border: none;

}

.maincontainer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: bisque;
}
.order-now-container {


}

.best-selling-container {

}

.article-container{

}

/*split Vojta */

footer {
    background-color: #f5dfb8;
    font-family: sans-serif;
    color: #4a3728;
}

<<<<<<< HEAD
.footer-top {
    border-bottom: 1px solid #e5cfa1;
}

footer a {
    text-decoration: none;
    color: inherit;
}

.footer-logo {
    font-size: 32px;
    font-weight: 700;
    color: #5c2e1a;       /* dark brown */
    letter-spacing: 1px;  /* cleaner, spaced look */
=======
footer a {
    text-decoration: none;
>>>>>>> f9407c0b4869a30c7690f460aab6a00295e7a4b9
}

.footer-top nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

<<<<<<< HEAD
=======
/* logo */
footer-top img {
    height: 40px;
}

>>>>>>> f9407c0b4869a30c7690f460aab6a00295e7a4b9
/* menu list */
.footer-navigation ul {
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
}

.footer-navigation a {
    text-decoration: none;
    color: #4a3728;
    font-size: 14px;
}

.footer-navigation a:hover {
    text-decoration: underline;
}

#footer-bottom {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

#copyright p {
    margin: 0;
}

<<<<<<< HEAD
#footer-icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

=======
#footer-icons a {
    margin-left: 16px;
}


>>>>>>> f9407c0b4869a30c7690f460aab6a00295e7a4b9
#footer-icons img {
    width: 18px;
    height: 18px;
}
